<!DOCTYPE hibernate-configuration PUBLIC  
              "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
              "http://hibernate.sourcef.net/hibernate-configuration-.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hbm2ddl.auto">create</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test1</property>
		<property name="connection.username">root</property>
		<property name="connection.password">0000</property>
		<property name="show_sql">true</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<!-- <property name="hibernate.cache.query_cache_factory"></property> -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<mapping class="com.scp.HibernateCRUD.Student" />
		<mapping class="com.scp.HibernateCRUD.Address" />

	</session-factory>

</hibernate-configuration>